includes:
	- vendor/webifycms/dev-tools/phpstan-default.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpat/phpat/extension.neon

parameters:
	reportUnmatchedIgnoredErrors: false
	paths:
		- src
		- test
	excludePaths:
		- vendor
		- extensions
		- themes
		- runtime

services:
	-
		class: App\Test\Architecture\ArchitectureSpec
		tags:
			- phpat.test
