includes:
	- vendor/webifycms/dev-tools/phpstan-default.neon

parameters:
	bootstrapFiles:
		- vendor/yiisoft/yii2/Yii.php
	paths:
		- src
		- test
	excludePaths:
		- vendor
		- templates
		- extensions
		- themes
	dynamicConstantNames:
		- YII_DEBUG
		- YII_ENV
		- YII_ENV_DEV