name: PR Review

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  pr-review:
    uses: webifycms/.github/.github/workflows/pr-review.yml@main
    with:
      php-version: '8.1'
      composer-version: 'v2'